# Bin then Save

This is where the bulk of work has to be done. We will load the data from from the CSV process.

In [1]:
# Imports block
import pandas as pd

In [2]:
# Globals / Constants Block
data        = "SQLite_FIADB_ME.csv"
data_path   = "/anvil/projects/tdm/corporate/forest/data_team/data/CSVs/" + data
output_path = "/anvil/projects/tdm/corporate/forest/data_team/data/CSVs/" + "BINNED_" + data
debug       = True     #set this false to mute debug output

In [3]:
def debug(txt):
    if ( debug ) :
        print(f" DEBUG:{loc}: {txt}")

In [4]:
# reading in data with pandas
df = pd.read_csv(data_path) # might need: , low_memory=False
df.head()

   INVYR   TREE  PLOT  SUBP  DIA       LAT       LON
0   1995  10002     1    11  1.3  45.13896 -67.19388
1   1995  10003     1    11  1.8  45.13896 -67.19388
2   1995  10004     1    11  1.4  45.13896 -67.19388
3   1995  10003     1    12  1.0  45.13896 -67.19388
4   1995  10004     1    12  1.2  45.13896 -67.19388

In [6]:
df_first_year = df["INVYR"].min()
df_last_year  = df["INVYR"].max()
print(f"(df_first_year, df_last_year) = {(df_first_year, df_last_year)}")

(df_first_year, df_last_year) = (1995, 2021)