# Bin then Save

This is where the bulk of work has to be done. We will load the data from from the CSV process.

In [1]:
# Imports block
import pandas as pd

In [2]:
# Globals / Constants Block
data        = "SQLite_FIADB_ME.csv"
data_path   = "/anvil/projects/tdm/corporate/forest/data_team/data/CSVs/" + data
output_path = "/anvil/projects/tdm/corporate/forest/data_team/data/CSVs/" + "BINNED_" + data

In [3]:
# reading in data with pandas
df = pd.read_csv(data_path) # might need: , low_memory=False
df.head()

   INVYR   TREE  PLOT  SUBP  DIA       LAT       LON
0   1995  10002     1    11  1.3  45.13896 -67.19388
1   1995  10003     1    11  1.8  45.13896 -67.19388
2   1995  10004     1    11  1.4  45.13896 -67.19388
3   1995  10003     1    12  1.0  45.13896 -67.19388
4   1995  10004     1    12  1.2  45.13896 -67.19388

In [4]:
df_first_year = df["INVYR"].min()
df_last_year  = df["INVYR"].max()
print(f"(df_first_year, df_last_year) = {(df_first_year, df_last_year)}")

(df_first_year, df_last_year) = (1995, 2021)

In [5]:
# Here we will remove saplings to simplify the density calculations. 
df = df[df["DIA"] <= 5 ]

In [6]:
# split into years 
years = df.INVYR.unique()

df_year_dict = {year : pd.DataFrame() for year in years}

for year in df_year_dict.keys():
    df_year_dict[year] = df[:][df.INVYR == year]

In [7]:
df_year_dict.keys()

dict_keys([1995, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

# Binning

Here we will attempt to calculate tree density and bin the results.

In [8]:
# lets first test with 2011

df_2011 = df_year_dict[2011]

In [9]:
df_2011.head()

        INVYR  TREE  PLOT  SUBP  DIA       LAT       LON
545824   2011    51    39     1  5.0  45.04286 -67.60261
545896   2011     8    43     2  5.0  44.94077 -68.06066
545897   2011     1    43     3  3.2  44.94077 -68.06066
545907   2011     1    43     4  2.3  44.94077 -68.06066
545908   2011     3    43     4  2.7  44.94077 -68.06066

In [10]:
print(f"unique trees = {len(df_2011.TREE.unique())}, unique plots = {len(df_2011.PLOT.unique())}")

unique trees = 125, unique plots = 612

In [11]:
# from: https://www.statology.org/pandas-remove-duplicates-keep-max/
#  This will remove non-unique tree-plot combinations keeping the max DIA
df_2011 = df_2011.sort_values('DIA', ascending=False).drop_duplicates(['TREE', 'PLOT']).sort_index()

In [12]:
print(f"unique trees = {len(df_2011.TREE.unique())}, unique plots = {len(df_2011.PLOT.unique())}")

unique trees = 125, unique plots = 612

In [13]:
df_2011.head()

        INVYR  TREE  PLOT  SUBP  DIA       LAT       LON
545824   2011    51    39     1  5.0  45.04286 -67.60261
545896   2011     8    43     2  5.0  44.94077 -68.06066
545897   2011     1    43     3  3.2  44.94077 -68.06066
545908   2011     3    43     4  2.7  44.94077 -68.06066
545910   2011     5    43     4  2.2  44.94077 -68.06066

In [15]:
df_2011_density = df_2011[['INVYR', 'LAT', 'LON' ]]
df_2011_density